<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
	<ui:define name="header">
	    Add your header here or delete to use the default
	</ui:define>
	<ui:define name="content">
	    <h:form>
	    <h:outputLabel for="id">Id Entree</h:outputLabel>
	    <h:inputText value="#{entreeModele.idEntree}"></h:inputText>
	    <h:outputLabel for="nom">Nom Entree</h:outputLabel>
	    <h:inputText value="#{entreeModele.nomEntree}"></h:inputText>
	    <h:outputLabel for="nom">Priorite Entree</h:outputLabel>
	    <h:inputText value="#{entreeModele.prioriteEntree}"></h:inputText>
	    <h:outputLabel for="nom">Estimation Entree</h:outputLabel>
	    <h:inputText value="#{entreeModele.estimationEntree}"></h:inputText>
	    
	    <h:commandButton type="submit" action="#{entreeModele.creationEntree}" value="Valider"></h:commandButton>
	    </h:form>
	</ui:define>
		
	<ui:define name="footer">
	    Add your footer here or delete to use the default
	</ui:define>
</ui:composition>
</html>
