<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template.xhtml">
	<ui:define name="header">
	    Add your header here or delete to use the default
	</ui:define>
	<ui:define name="content">
	    Les agences
	<ul>
	    <ui:repeat value="#{agenceModele.listAgence}" var="agence">
	        <li>
	        	<h:outputText value="#{agence.idAgence}" />
	        	<h:outputText value="#{agence.nomAgence}" />
	        	<h:form>
		        	<h:inputText value="#{agenceModele.selectedAgence}"></h:inputText>	
	    			<h:commandButton type="submit" action="#{agenceModele.selectAgence}" value="Selectionner"></h:commandButton>
		        </h:form>
	        </li>
	    </ui:repeat>
	</ul>	
	
	</ui:define>
	<ui:define name="footer">
	    Add your footer here or delete to use the default
	</ui:define>
</ui:composition>
</html>
